.todoList {
	.item {
		border-top: 1px solid #eee;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 15px;
		font-size: 13px;
		input:checked + {
			span {
				color: #999;
				text-decoration: line-through;
			}
		}
	}
}
