.todoTemplate {
	width: 512px;
	margin: 6rem auto 0;
	border-radius: 30px;
	overflow: hidden;
	border: 1px solid #ddd;
	.todoTemplateTitle {
		background: #1d284e;
		color: #fff;
		height: 4rem;
		font-size: 1.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.content {
		background: #fff;
		.total {
			background: #eef1ff;
			text-align: right;
			padding: 15px;
			font-weight: bold;
			border-top: 1px solid #999;
			border-bottom: 1px solid #999;
		}
	}
}
